@import "../../../vendor.scss";
@import "../../../styles.scss";
@import "../../../variables.scss";

$searchbox-height: 40px;

.mrow {
  @extend .my-4;
}

.search {
  .form-control {
    @extend .input;
    min-height: $searchbox-height;
    border-right: none;
  }

  .input-group-btn {
    &:focus {
      outline: none;
    }
  }

  button {
    background: $icon-button-background;
    cursor: pointer;
  }

  .btn-search {
    width: 35px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid $blue-chill !important;

    &:focus {
      box-shadow: none;
    }

    &::before {
      font-family: "FontAwesome";
      content: '\f002';
      color: $piction-blue;
    }
  }

  .btn-saved-searches {
    font-size: 15px;

    background: $mine-shaft-5;
    border: 1px solid $tundora;
    color: $silver-chalice;

    &:focus {
      box-shadow: none;
    }

    &::after {
      font-family: "FontAwesome";
      content: '\f0da';
      color: $gray;
      padding-left: 5px;
    }
  }

  .btn-search-clear {
    border-top: 1px solid $tundora;
    border-bottom: 1px solid $tundora;
    border-right: 1px solid $blue-chill;
    background: $mine-shaft-1;
    border-left: none;
    padding: 0px 5px 0px 0px;
    width: 30px;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }

    &::before {
      font-family: "FontAwesome";
      content: '\f057';
      color: $gray;
      padding-left: 5px;
    }
  }
}

.save-button {
  width: $searchbox-height;
  height: $searchbox-height;
  display: block;
  margin-left: 10px;
  background: $mine-shaft-5;
  border: 1px solid $tundora;
  color: $silver-chalice;
  border-radius: 4px;
  cursor: pointer;

  &::before {
    font-family: "FontAwesome";
    content: '\f0c7';
    color: $dusty-grey;
    position: absolute;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 22px;
  }
}

.btn.severity {
  padding: 0.25rem 1rem;
  border-radius: 0rem;
  background: $mine-shaft-2;
  border: 1px solid $list-group-border-color;

  &::before {
    font-family: "FontAwesome";
    content: '\f111';
    padding-right: 15px;
  }
}

.btn.severity.error::before {
  color: $errors-red;
}

.btn.severity.warning::before {
  color: $warning-yellow;
}

.btn.severity.info::before {
  color: $info-yellow;
}

.btn-group-severity {
  padding: 10px;
  background: $mine-shaft-4;
}

.selected {
  background: $mine-shaft-2;
}


.cell-value {
  padding: 5px;
}

.filter-button {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.configure-table-icon {
  font-size: 16px;
  cursor: pointer;
}
